version: "2"
services:
  memcached:
    image: washpost/memcached:1.4.36
    restart: always
    network_mode: host
    {%- if logging is defined and logging.driver is defined and logging.driver == "awslogs" %}
    logging: 
      driver: awslogs
      options:
        awslogs-group: {{ logging.meta.group }}
        awslogs-stream: memcached-${NODE_ID}
    {%- endif %}
    {%- if MEMCACHED_EXTRA_OPTIONS is defined %}
    environment:
      MEMCACHED_EXTRA_OPTIONS: "{{ MEMCACHED_EXTRA_OPTIONS }}"
    {%- endif %}
